*~
*.egg/
*.pyc
*.pyo
*.cpp
*.so
build
\#*\#
.\#*
.coverage
.eggs/
_readthedocs_build
chainer.egg-info/
dist/
htmlcov/
chainer_setup_build.orgpy
cupy/core/core.cp35-win_amd64.pyd
cupy/core/flags.cp35-win_amd64.pyd
cupy/core/internal.cp35-win_amd64.pyd
cupy/cuda/common.pxd
cupy/cuda/cublas.cp35-win_amd64.pyd
cupy/cuda/cudnn.cp35-win_amd64.pyd
cupy/cuda/curand.cp35-win_amd64.pyd
cupy/cuda/device.cp35-win_amd64.pyd
cupy/cuda/driver.cp35-win_amd64.pyd
cupy/cuda/function.cp35-win_amd64.pyd
cupy/cuda/memory.cp35-win_amd64.pyd
cupy/cuda/nvToolsExt64_1.dll
cupy/cuda/nvtx.cp35-win_amd64.pyd
cupy/cuda/pinned_memory.cp35-win_amd64.pyd
cupy/cuda/profiler.cp35-win_amd64.pyd
cupy/cuda/runtime.cp35-win_amd64.pyd
cupy/cuda/thrust.cp35-win_amd64.pyd
cupy/cuda/thrust.pxd
cupy/util.cp35-win_amd64.pyd
install/build.orgpy
setup.orgpy
chainer_setup_build_BACKUP_5080.py
chainer_setup_build_BASE_5080.py
chainer_setup_build_LOCAL_5080.py
chainer_setup_build_REMOTE_5080.py
